{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/5/sketchy/bootstrap.css">
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'metodos_numericos/css/auth.css' %}">
    <title>Iniciar sesión</title>
</head>
<body>
    <!----------------------- Main Container -------------------------->
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <!----------------------- Login Container -------------------------->
        <div class="row border px-3 py-0 pb-3 bg-white shadow box-area">
            <!-------------------- ------ Right Box ---------------------------->
            <div class="col right-box">
                <div class="row mb-3">
                        <a href="{% url 'metodos_numericos:index' %}">
                            <img class="img-thumbnail top-0 start-0 position object-fit-fill" src="{% static "metodos_numericos/img/logout.png" %}" alt="" width='60' >
                        </a>
                </div>
                <form class="card row align-items-center" method="post">
                    {% csrf_token %}

                    <div class="card-header header-text mb-4 bg-success text-center ">
                        
                        <h1><span class="badge bg-primary h1">Haz recibido el corroe</span></h1>
                        <p >Escriba la nueva contraseña.</p>
                    </div>

                    {% comment %} Para validar {% endcomment %}
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {% for error in form.non_field_errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <p>Por favor, introduzca su contraseña nueva dos veces para vereficar que la ha escrito correcto</p>
                    <label for="new_password1">Contraseña nueva</label>
                    <div class="input-group mb-1">
                        <input type="password" class="form-control form-control-lg bg-light fs-6" name="new_password1" id="new_password1" placeholder="Ingrese su contraseña..." required>
                    </div>
                    {% for error in form.new_password1.errors %}
                        <div class="text-danger"><small>{{ error }}</small></div>
                    {% endfor %}
                    <label for="new_password2">Confirme contraseña</label>
                    <div class="input-group mb-1">
                        <input type="password" class="form-control form-control-lg bg-light fs-6" name="new_password2" id="new_password2" placeholder="Ingrese de nuevo su contraseña..." required>
                    </div>
                    {% for error in form.new_password2.errors %}
                        <div class="text-danger"><small>{{ error }}</small></div>
                    {% endfor %}

                    <div class="input-group my-3">
                        <button type="submit" class="btn btn-lg btn-success w-100 fs-6">Cambiar Contraseña</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>