{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/5/sketchy/bootstrap.css">
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'metodos_numericos/css/auth.css' %}">
    <title>Iniciar sesión</title>
</head>
<body>
    <!----------------------- Main Container -------------------------->
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <!----------------------- Login Container -------------------------->
        <div class="row border px-3 py-0 pb-3 bg-white shadow box-area">
            <!-------------------- ------ Right Box ---------------------------->
            <div class="col right-box">
                <div class="row mb-3">
                        <a href="{% url 'metodos_numericos:index' %}">
                            <img class="img-thumbnail top-0 start-0 position object-fit-fill" src="{% static "metodos_numericos/img/logout.png" %}" alt="" width='60' >
                        </a>
                </div>
                <form class="card row align-items-center"  method="post">
                    {% csrf_token %}

                    <div class="card-header header-text mb-4 bg-success text-center ">
                        
                        <h1><span class="badge bg-primary h1">Instrucciones enviada al correo</span></h1>

                    </div>

                    <p class="text-success">Si el correo existe, se ha enviado un enlace para restablecer la contraseña.</p>
                    <p >Por favor revise su buzon de correo</p>

                </form>
            </div>
        </div>
    </div>
</body>
</html>