{% extends 'metodos_numericos/base.html' %}
{% load i18n %}
{% block title %}{% trans "Historial" %} - {% trans "AppTitle" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 mt-2">
        <div class="bg-secondary-neon text-white rounded p-5 mb-4">
            <h1>
                <i class="fas fa-history me-3"></i> {%trans "Historial"%}
            </h1>
            <p>
                {%trans "Descripcion Historial"%}
            </p>
        </div>
    </div>
</div>

<div class="row g-4">
    <div class="col-md-12">
        <table class="table table-success table-striped table-hover">
            <thead>
                <tr>
                    <th><i class="fa fa-calendar"></i> {%trans "Fecha"%}</th>
                    <th>{%trans "Ecuacion"%}</th>
                    <th>{%trans "Resultado"%}</th>
                    <th>{%trans "Editar"%}</th>
                    <th>{%trans "Eliminar"%}</th>
                </tr>
            </thead>
            <tbody>
                {% for ejercicio in ejercicios %}
                <tr>
                    <td>{{ ejercicio.fecha_creacion }}</td>
                    <td>{{ ejercicio.ecuacion }}</td>
                    <td>{{ ejercicio.solucion }}</td>
                    <td><button class="btn btn-white"><i class="fa fa-pencil"></i> Editar</button></td>
                    <td><button class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar</button></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center"><i class="fa fa-clock"></i> {%trans "No hay ejercicios en el historial"%}</td>
                </tr>
                <tr>
                    <td colspan="5" class="text-center"><button class="btn btn-white"><i class="fa fa-clock"></i> Realizar metodo simplex</button></td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>
{% endblock %}