{% extends 'metodos_numericos/base.html' %}
{% load i18n %}
{% block title %}{% trans "Historial" %} - {% trans "AppTitle" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 mt-2">
        <div class="bg-secondary-neon text-white text-center rounded p-5 mb-4">
            <h1>
                <i class="fas fa-history me-3"></i> {%trans "Historial"%}
            </h1>
            <p>
                {%trans "Descripcion Historial"%}
            </p>
        </div>
    </div>
</div>

<div class="container-fluid p-0 darkmode-ignore" style="overflow: auto;">
    <table class="table table-success table-striped table-hover">
        <thead>
            <tr>
                <th><i class="fa fa-calendar"></i> {%trans "Fecha"%}</th>
                <th>{%trans "Ecuacion"%}</th>
                <th>{%trans "Resultado"%}</th>
                <th>{%trans "Editar"%}</th>
                <th>{%trans "Eliminar"%}</th>
            </tr>
            </thead>
            <tbody>
                {% for ejercicio in ejercicios %}
                <tr>
                    {% load tz %}
                    <td style="vertical-align: middle;">{{ ejercicio.fecha_creacion|localtime|date:"H:i | d/m/Y" }}</td>
                    <td class="math-display">$${{ ejercicio.ecuacion }}$$</td>
                    <td class="math-display">$${{ ejercicio.solucion }}$$</td>
                    <td><a class="btn btn-white" href="/simplex/{{ejercicio.id}}"><i class="fa fa-pencil"></i> {%trans "Editar"%}</a></td>
                    <td><a class="btn btn-danger" href="/eliminar-simplex/{{ejercicio.id}}"><i class="fa fa-trash"></i> {%trans "Eliminar"%}</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center"><i class="fa fa-clock"></i> {%trans "No hay ejercicios"%}</td>
                </tr>
                <tr>
                    <td colspan="5" class="text-center"><a class="btn btn-white" href="/simplex"><i class="fa fa-circle-check"></i> {%trans "Comenzar"%}</a></td>
                </tr>
                {% endfor %}
            </tbody>
    </table>
    </div>
</div>

<script src="https://unpkg.com/darkmode-js/lib/darkmode-js.min.js"></script>
<script>
   new Darkmode({
    bottom: '32px', // Botón flotante
    right: '32px',
    label: '🌓',
    autoMatchOsTheme: true
  }).showWidget();
</script>
{% endblock %}